<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品页</title>
<!-- Bootstrap核心CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- JQuery -->
<script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
<!-- bootstrap的js -->
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body onload="categoryChange()">
	<!-- 首页标题 -->
	<div th:include="template/header::blog_header"></div>
	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img class="img-thumbnail" th:src="'/image/'+${product.image}"
							height="300px" width="200px" />
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title" th:text="${product.title}"></h5>
							<p class="card-text" th:text="'￥'+${product.price}"></p>
							<p class="card-text">
								<small class="text-muted" th:text="'库存：'+${product.quantity}"></small>
							</p>
							<script type="text/javascript" th:inline="javascript">
							var reduce = function() {
								var quantity = $("#quantity").val();
								console.log(quantity);
								if (quantity > 1) {
									quantity = quantity -0- 1;
									$("#quantity").val(quantity)
								}
							}
							var add = function() {
								var quantity = $("#quantity").val();
								console.log(quantity);
								if (quantity < [[${product.quantity}]]) {
									quantity = quantity-0 + 1;
									$("#quantity").val(quantity)
								}
							}
						</script>
							<form action="/carts" method="post">
								<div>
									<button type="button" onclick="reduce()">-</button>
									<input type="text" name="product_id" th:value="${product.id}"
										hidden /> <input id="quantity" type="text"
										name="product_quantity" value="1" />
									<button type="button" onclick="add()">+</button>
								</div>
								<div>
									<button type="submit">加入购物车</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3"></div>
	</div>
</body>